.Card {
  width: 50rem;
  height: 28.5rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.5);

  &.is_front {
    z-index: 2;
    float: left;
    position: relative;
    margin-bottom: 2rem;
    padding: 8rem 2rem 2rem;
    background: linear-gradient(135deg, rgb(255, 255, 255), rgb(255, 255, 255));

    img {
      width: 44rem;
      position: absolute;
      right: 2rem;
      top: 2rem;
    }

  }

  &.is_back {
    position: absolute;
    z-index: 1;
    top: 1rem;
    right: 0;
    padding: 13.3rem 2rem 0 30rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,.2);
    background-color: rgb(255, 255, 255);

    &:after {
      position: absolute;
      width: 100%;
      height: 5.8rem;
      left: 0;
      top: 4.8rem;
      content: " ";
      background: #595b68;
    }

    > .info {
      color: rgba(0,0,0,0.5);
      margin-top: 2rem;
      font-size: 1.4rem;
    }
  }
}





