html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: sans-serif;
  line-height: 1.15;
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-weight: 400;
  font-family: sans-serif;
}
